# cloud-config for coreos
# - assumes cluster size of 1 (we have no need of fleet clusters yet)
coreos:
  etcd2:
    discovery: __DISCOVERY_URL__
    advertise-client-urls: http://$private_ipv4:2379
    initial-advertise-peer-urls: http://$private_ipv4:2380
    listen-client-urls: http://0.0.0.0:2379
    listen-peer-urls: http://$private_ipv4:2380
  units:
    - name: etcd2.service
      command: start
    - name: fleet.service
      command: start
  update:
    reboot-strategy: off
